.main{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    margin: 0;
    padding: 20px;
}
.theader{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(157, 101, 73) ;
    border: 1px  solid rgb(157, 101, 73) ;
    padding: 5px;
    background-color: black;
}
.header{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 25px;
}
nav a{
    color: black;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(157, 101, 73);
}
.header button{
    background-color: rgb(157, 101, 73);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.header button a{
    color: white;
    text-decoration: none;
}
.header button:hover{
    background-color: rgb(120, 78, 57);
}
.banner{
    width: 100%;
    height: 450px;
    background-image: url(Assets/Banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -25px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    padding-top: 170px;
}
.banner h1{
    color: white;
    font-size: 36px;
    padding: 10px 20px;
    border-radius: 10px;
}
.banner button{
    background-color: rgb(157, 101, 73);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.banner button:hover{
    background-color: rgb(120, 78, 57);
}
.banner button a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}